.chat-body{
    font-size: 11pt !important;
    position: relative !important;
    height: 17rem !important;
    overflow-y: scroll !important;
    background-color: #fff !important;
}
.chat-body-item-msg-user{
    display: flex !important;
    justify-content: end !important;
    align-items: end !important;
}
.chat-body-item-msg-user-texto{
    position: relative !important;
    display: flex !important;
    justify-content: end !important;
    align-items: end !important;
}
.chat-body-item-msg-user-texto-p{
    text-align: end !important;
    word-wrap: break-word !important;
    position: relative !important;
    border-radius: 10px 10px 0px 10px !important;
    padding: 10px !important;
    background-color:#3B8DBD !important;
    color: #fff !important;
    margin: 10px !important;
}
.chat-body-item-msg-bot{
    display: flex !important;
    justify-content: start !important;
    align-items: start !important;
    margin-bottom: 15px !important;
}
.chat-body-item-msg-bot-texto{
    position: relative !important;
    display: flex !important;
    justify-content: start !important;
    align-items: start !important;
    margin-bottom: 10px !important;
}

.chat-body-item-msg-bot-foto-img{
    vertical-align: middle !important;
    width: 40px !important;
    height: 40px !important;
    border-radius: 50% !important;
    border: 1px solid #C2C6CA !important;
    margin: 10px !important;
}


.chat-body-item-msg-bot-texto-p{
    text-align: start;
    word-wrap: break-word !important;
    width: 11.5rem !important;
    position: relative !important;
    left: -20px !important;
    bottom: -35px !important;
    border-radius: 0px 10px 10px 10px !important;
    margin-bottom: 40px !important;
    padding: 10px !important;
    margin: 10px !important;
    background-color:#EBEBEB !important;
    color: #343a40 !important;
}
.chat-body::-webkit-scrollbar {
    width: 5px !important;
}
.chat-body::-webkit-scrollbar-thumb {
    background: #C2C6CA !important;
}

.chat-body-item-msg-bot-digitando{
    position: relative !important;

}
.chat-body-item-msg-bot-digitando-texto-p{
    color: #343a40 !important;
    position: relative !important;
    left: 10px !important;
    width: 100px !important;
}


