.chat-footer{
    background-color: #fff !important;
    bottom: auto !important;
    position: relative !important;
    height: 3rem !important;
    border-radius: 0px 0px 0px 20px !important;
    border-top: 0.0625rem solid #C2C6CA !important;
}
.chat-footer-itens{
    display: grid !important;
    grid-template-columns: 1fr 3fr 1fr !important;
    gap: 5px !important;
    position: relative !important;
    border-radius: 50px !important;
    margin-top: 5px !important;
}
.chat-footer-itens-input{
    padding: 10px !important;
    position: relative !important;
}
.chat-footer-itens-send{
    justify-items: end !important;
    position: relative !important;
    cursor: pointer !important;
}

.chat-footer-itens-record{
    justify-items: start !important;
    position: relative !important;
    padding: 0px !important;
}

.chat-footer-itens-input-input{
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 1px solid #C2C6CA !important;
    width: 200px !important;
}
.chat-footer-itens-input-input:focus {
    outline-width: 0 !important;
}
.chat-footer-itens-record-item{
    position: relative !important;
    left: 0.3rem !important;
    top: 0.25rem !important;
    width: 1.5rem !important;
    height: 1.5rem !important;
    padding: 5px !important;
    cursor: pointer !important;
}
.chat-footer-itens-recordGif-item{
    position: relative !important;
    padding-left: 60px !important;
    padding-right: 100px !important;
    left: -4rem !important;
    top: -0.2rem !important;
    width: 2.5rem !important;
    height: 1.5rem !important;
}
.chat-footer-itens-img-item{
    position: relative !important;
    top: 0.35rem !important;
    width: 1.7rem !important;
    height: 1.7rem !important;
}
