.chat-footer{
    background-color: #fff;
    bottom: auto;
    position: relative;
    height: 3rem;
    border-radius: 0px 0px 0px 20px;
    border-top: 0.0625rem solid #C2C6CA;
}
.chat-footer-itens{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 5px;
    position: relative;
    border-radius: 50px;
    margin-top: 5px;
}
.chat-footer-itens-input{
    padding: 10px;
    position: relative;
}
.chat-footer-itens-send{
    justify-items: end;
    position: relative;
    cursor: pointer;
}

.chat-footer-itens-record{
    justify-items: start;
    position: relative;
    padding: 0px;
}

.chat-footer-itens-input-input{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #C2C6CA;
    width: 200px;
}
.chat-footer-itens-input-input:focus {
    outline-width: 0;
}
.chat-footer-itens-record-item{
    position: relative;
    left: 0.3rem;
    top: 0.25rem;
    width: 1.5rem;
    height: 1.5rem;
    padding: 5px;
    cursor: pointer;
}
.chat-footer-itens-recordGif-item{
    position: relative;
    padding-left: 60px;
    padding-right: 100px;
    left: -2rem;
    top: -0.2rem;
    width: 2.5rem;
    height: 1.5rem;
}
.chat-footer-itens-img-item{
    position: relative;
    top: 0.35rem;
    width: 1.7rem;
    height: 1.7rem;
}
