#all-chat{
    position: absolute;
    position: fixed;
    bottom: 0px;
    z-index: 9999;
    right: 0px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

#chat{
    position: relative;
    border-radius: 15px 15px 0px 15px;
    width: 18.75rem;
    height: 23rem;
    box-shadow: 0px 3px 5px #C2C6CA;
    left: 10px;
    top: 10px;
    animation: go-back 0.5s;
}