.chat-header{
    transition-delay: 3s !important;
    border-radius: 15px 15px 0px 0px !important;
    background-color: #3B8DBD !important;
    position: relative !important;
    height: 3rem !important;
    z-index: 999 !important;
    
}
.chat-header-Itens{
    /* font-size: 12px !important; */
    color: #fff !important;
    display: block !important;
    padding: 0.31rem !important;
    position: relative !important;
    
}

.chat-header-itens-textos{
    position: fixed !important;
    display: flex !important;
    flex-direction: column !important;
}
.chat-header-itens-nomeChat{
    font-size: 15px !important;
    text-align: start !important;
}
.chat-header-itens-descricaoChat{
    font-size: 12px !important;
    text-align: start !important;
}

.chat-header-itens-img{
    text-align: end !important;
}

.chat-header-itens-img-item{
    position: relative !important;
    top: 0.40rem !important;
    width: .50rem !important;
    height: .60rem !important;
}

.chat-header-itens-img-item{
    right: -10px !important;
    padding: 0px !important;
}

.chat-header-itens-img-item{
    width: 30px !important;
    height: 30px !important;
    left: -5px !important;
}

.chat-header-itens-options{
    background-color: #fff !important;
    box-shadow: 0px 3px 5px #C2C6CA !important;
    color: #555555 !important;
    position: relative !important;
    text-align: start !important;
    z-index: 99999 !important;
    border-radius: 15px 0px 15px 15px !important;
    top: 0px !important;
    left: 60px !important;
    width: 200px !important;
    animation: go-back-options 0.5s !important;
}
.chat-header-itens-options-ul {
    padding: 10px !important;
}
.chat-header-itens-options-ul-li {
    padding: 7px !important;
    list-style: none !important;
    /* border-bottom: 1px solid #55555534; */
}
.chat-header-itens-options-ul-li:hover {
    background-color: rgba(206, 206, 206, 0.123) !important;
    cursor: pointer !important;
}

.chat-header-itens-suboptions{
    background-color: #fff !important;
    box-shadow: 0px 3px 5px #C2C6CA !important;
    color: #555555 !important;
    position: relative !important;
    text-align: start !important;
    z-index: 99999 !important;
    margin: 0px !important;
    padding: 0px !important;
    border-radius: 15px 0px 15px 15px !important;
    top: 0px !important;
    left: 60px !important;
    width: 200px !important;
    animation: go-back-options 0.5s !important;
}
.chat-header-itens-suboptions-ul {
    padding: 10px !important;
}
.chat-header-itens-suboptions-ul-li {
    display: grid !important;
    grid-template-columns: 4fr 1fr !important;
    padding: 7px !important;
    list-style:none !important;
    /* border-bottom: 1px solid #55555534; */
}
.chat-header-itens-suboptions-ul-li:hover {
    background-color: rgba(206, 206, 206, 0.123) !important;
    cursor: pointer !important;
}
.chat-header-itens-suboptions-ul-li-checkbox{
    display: inline-block !important;
    align-self: center !important;
}
.chat-header-itens-suboptions-back-img{
    padding-top: 5px !important;
}