.chat-popup{
    position: relative !important;
    display: grid !important;
    grid-template-columns: 3fr 1fr !important;
    gap: 20px 20px 20px !important;
    align-content: end !important;
    cursor: pointer !important;
}
.chat-popup-foto-img{
    width: 70px !important;
    height: 70px !important;
    border-radius: 50% !important;
    margin: 10px 5px 10px !important;
    box-shadow: 0px 3px 5px #C2C6CA !important;
    align-self: end !important;
    border: 1px solid #C2C6CA !important;
    /* animation: float 6s ease-in-out infinite */
}
.chat-popup-msg-alert{
    animation: go-back 0.5s !important;
    position: relative !important;
    width: 300px !important;
    height: 80px !important;
    border-radius: 15px 15px 15px 20px !important;
    background-color: #fff !important;
    box-shadow: 0px 0px 7px #C2C6CA !important;
}

.chat-popup-msg-none{
    width: 300px !important;
    height: 80px !important;
}
.chat-popup-msg-alert-close{
    position: relative !important;
    top: -8px !important;
    left: -8px !important;
}
.chat-popup-msg-alert-close-img{
    width: 20px !important;
    padding: 0px !important;
    margin: 0px !important;
}

.chat-popup-msg-alert-texto{
    text-align: start !important;
    position: relative !important;
}
.chat-popup-msg-alert-texto-p{
    text-align: start !important;
    word-wrap: break-word !important;
    width: 260px !important;
    left: 20px !important;
    top: -9px !important;
    position: relative !important;
    padding: 0px !important;
    margin: 0px !important;
}
.chat-popup-msg-alert-texto-bottom-sim{
    position: relative !important;
    background-color: #82b965 !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    margin: 2px !important;
    border-radius: 2px !important;
    cursor: pointer !important;
}
.chat-popup-msg-alert-texto-bottom-nao{
    position: relative !important;
    background-color: #f54949 !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    margin: 2px !important;
    border-radius: 2px !important;
    cursor: pointer !important;
}
