#all-chat{
    position: absolute;
    position: fixed;
    bottom: 0px;
    z-index: 9999;
    right: 0px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

#chat{
    position: relative;
    border-radius: 15px 15px 0px 15px;
    width: 18.75rem;
    height: 23rem;
    box-shadow: 0px 3px 5px #C2C6CA;
    left:   0px;
    top: 0px;
    animation: go-back 0.5s;
}


#chat-header{
    transition-delay: 3s;
    border-radius: 15px 15px 0px 0px;
    background-color: #3B8DBD;
    position: relative;
    height: 3rem;
}
#chat-header-Itens{
    font-size: 10pt;
    color: #fff;
    display: grid;
    padding: 0.31rem;
    grid-template-columns: 6fr 1fr;
    position: relative;

}
#chat-header-itens-textos{
    padding: 5px;
    
}
#nomeChat{
    font-weight: bold;
    padding: 0px;
    margin: 0px;
}
#descricaoChat{
    padding: 0px;
    margin: 0px;
    position: fixed;
}
#chat-header-itens-img{
    text-align: end;
}
#chat-header-itens-img-item{
    position: relative;
    top: 0.40rem;
    width: .50rem;
    height: .60rem;
}

#chat-header-itens-img-item{
    right: -10px;
    padding: 0px;
}
#chat-header-itens-img-item{
    width: 30px;
    height: 30px;
    left: -5px;
}
#chat-header-itens-options{
    background-color: #fff;
    box-shadow: 0px 3px 5px #C2C6CA;
    color: #555555;
    position: relative;
    text-align: start;
    z-index: 99999;
    margin: 0px;
    padding: 0px;
    border-radius: 15px 0px 15px 15px;
    left: -30px;
    width: 200px;
    animation: go-back-options 0.5s;
}
#chat-header-itens-options-ul {
    padding: 10px;
}
#chat-header-itens-options-ul-li {
    padding: 7px;
    list-style:none;
    border-bottom: 1px solid #55555534;
}
#chat-header-itens-options-ul-li:hover {
    background-color: rgba(206, 206, 206, 0.123);
    cursor: pointer;
}





#chat-body{
    font-size: 11pt;
    position: relative;
    height: 17rem;
    overflow-y: scroll;
    background-color: #fff;
}
#chat-body-item-msg-user{
    display: flex;
    justify-content: end;
    align-items: end;
}
#chat-body-item-msg-user-texto{
    position: relative;
    display: flex;
    justify-content: end;
    align-items: end;
}
#chat-body-item-msg-user-texto-p{
    text-align: end;
    word-wrap: break-word;
    position: relative;
    border-radius: 10px 10px 0px 10px;
    padding: 10px;
    background-color:#3B8DBD;
    color: #fff;
}
#chat-body-item-msg-bot{
    display: flex;
    justify-content: start;
    align-items: start;
}
#chat-body-item-msg-bot-texto{
    position: relative;
    display: flex;
    justify-content: start;
    align-items: start;
}

#chat-body-item-msg-bot-foto-img{
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #C2C6CA;
    margin: 10px;
}


#chat-body-item-msg-bot-texto-p{
    word-wrap: break-word;
    width: 11.5rem;
    position: relative;
    left: -20px;
    bottom: -35px;
    border-radius: 0px 10px 10px 10px;
    margin-bottom: 40px;
    padding: 10px;
    background-color:#EBEBEB;
    color: #343a40;
}
#chat-body::-webkit-scrollbar {
    width: 5px;
}
#chat-body::-webkit-scrollbar-thumb {
    background: #C2C6CA; 
}





#chat-footer{
    background-color: #fff;
    bottom: auto;
    position: relative;
    height: 3rem;
    border-radius: 0px 0px 0px 20px;
    border-top: 0.0625rem solid #C2C6CA;
}
#chat-footer-itens{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 5px;
    position: relative;
    border-radius: 50px;
    margin-top: 5px;
}
#chat-footer-itens-input{
    padding: 10px;
    position: relative;
}
#chat-footer-itens-send{
    justify-items: end;
    position: relative;
}

#chat-footer-itens-record{
    justify-items: start;
    position: relative;
    padding: 5px;
}

#chat-footer-itens-input-input{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #C2C6CA;
    width: 200px;
}
#chat-footer-itens-input-input:focus {
    outline-width: 0;
}
#chat-footer-itens-record-item{
    position: relative;
    left: 0.3rem;
    top: 0.25rem;
    width: 1.5rem;
    height: 1.5rem;
}
#chat-footer-itens-img-item{
    position: relative;
    top: 0.35rem;
    width: 1.7rem;
    height: 1.7rem;
}

#chat-body-item-msg-bot-digitando{
    position: relative;

}
#chat-body-item-msg-bot-digitando-texto-p{
    color: #343a40;
    position: relative;
    left: 10px;
    width: 100px;
}




#chat-popup{
    position: relative;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px 20px 20px;
    align-content: end;
}
#chat-popup-foto-img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 10px 5px 10px;
    box-shadow: 0px 3px 5px #C2C6CA;
    align-self: end;
    /* animation: float 6s ease-in-out infinite */
}


.chat-popup-msg-alert{
    animation: go-back 0.5s;
    position: relative;
    width: 300px;
    height: 80px;
    border-radius: 15px 15px 15px 15px;
    background-color: #fff;
    box-shadow: 0px 0px 7px #C2C6CA;    
}

.chat-popup-msg-none{
    width: 300px;
    height: 80px;
}
#chat-popup-msg-alert-close{
    position: relative;
    top: -8px;
    left: -8px;
}
#chat-popup-msg-alert-close-img{
    width: 20px;
    padding: 0px;
    margin: 0px;
}

#chat-popup-msg-alert-texto{
    position: relative;
}
#chat-popup-msg-alert-texto-p{
    word-wrap: break-word;
    width: 260px;
    left: 20px;
    top: -9px;
    position: relative;
    padding: 0px;
    margin: 0px;
}
#chat-popup-msg-alert-texto-bottom-sim{
    position: relative;
    background-color: #82b965;
    padding-left: 5px;
    padding-right: 5px;
    margin: 2px;
    border-radius: 2px;
    cursor: pointer;
}
#chat-popup-msg-alert-texto-bottom-nao{
    position: relative;
    background-color: #f54949;
    padding-left: 5px;
    padding-right: 5px;
    margin: 2px;
    border-radius: 2px;
    cursor: pointer;
}


@media(max-width: 400px){
    .chat-popup-msg-alert{
        width: 250px;
    }
    #chat-popup-msg-alert-texto-p{
        top: -10px;
        width: 220px;
    }
    #chat {
        left: 20px;
    }
}

/* @media(max-height: 700px){
    .chat-popup-msg-alert {
        position: relative;
        left: 40px;
        top: 75px;
        width: 240px;
        margin: 0px;
        height: 70px;
        border-radius: 15px 15px 15px 15px;
    }
    #chat-popup-msg-alert-texto-p{
        width: 200px;
        top: -20px;
    }
    #chat-popup-foto-img{
        width: 70px;
        height: 70px;
        margin: 10px;
    }
    #chat{
        width: 18rem;
        height: 23rem;
        left: -260px;
        top: 10px;
    }
} */


@keyframes go-back {
    from {
        transform: translateX(400px);
    }
    to {
        transform: translateX(0);
    }
}
@keyframes go-back-options {
    from {
        transform: translateX(50px);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes float{
	0%,100%{
		box-shadow:0 5px 15px 0 rgba(0,0,0,.6);
		transform:translatey(0)
	}
	50%{
		box-shadow:0 20px 15px 0 rgba(0,0,0,.2);
		transform:translatey(-5px)
	}
}