@import './GlobalChat.css';
@import './HeaderChat.css';
@import './BodyChat.css';
@import './FooterChat.css';
@import './PopupChat.css';

@media(max-width: 400px){
    .chat-popup-msg-alert{
        width: 250px !important;
    }
    .chat-popup-msg-alert-texto-p{
        top: -10px !important;
        width: 220px !important;
    }
    .chat {
        left: 20px !important;
    }
}


@keyframes go-back {
    from {
        transform: translateX(400px);
    }
    to {
        transform: translateX(0);
    }
}
@keyframes go-back-options {
    from {
        transform: translateX(50px);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes float{
	0%,100%{
		box-shadow:0 5px 15px 0 rgba(0,0,0,.6);
		transform:translatey(0)
	}
	50%{
		box-shadow:0 20px 15px 0 rgba(0,0,0,.2);
		transform:translatey(-5px)
	}
}